@inherits BaseComponentWithRequiredChildContent
<CascadingValue Name="Parent" Value="@this" IsFixed="true">
    <h6 id="@Id" data-name="@Name" data-fullname="@GetFullname()" class="@GetFinalClassNames()" style="@Style" title="@Tooltip">@ChildContent</h6>
</CascadingValue>