@inherits BaseComponentWithRequiredChildContent
<CascadingValue Name="Parent" Value="@this" IsFixed="true">
    <h3 id="@Id" data-name="@Name" data-fullname="@GetFullname()" class="@GetFinalClassNames()" style="@Style" title="@Tooltip">@ChildContent</h3>
</CascadingValue>